body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
  }
  
  input {
    padding: 8px;
  }
  
  button {
    padding: 8px;
    cursor: pointer;
  }
  
  li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }


/* Estiliza a tabela */
table, th, tr {
    border: 1px solid color(srgb 0.5 0.5 0.5);
}
table {
    width: 100%;
    padding: 10px 10px;
}
th, tr {
    height: 25px;
    color: black;
    padding: 5px;
}

#vago {
    width: 10px;
}